.name-container {
  background: #c5eed4;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* backdrop-filter: blur(10px); */
}

.name-description {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #023f3f;
}

.name-picture {
  flex: 1;
  position: relative;
}

.name-text h1 {
  font-size: 30px;
  font-weight: 300;
}

.name-me h1 {
  font-size: 64px;
  padding-bottom: 42px;
}

.name-picture-me {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 70%;
}

.imgBg {
  background: #67b99a;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 10% 100%, 0 40%);
  height: 100%;
  width: 100%;
}

.name-container .name-download-cv {
  text-decoration: none;
  position: absolute;
  bottom: 60px;
  left: 50px;
  border: 1px solid #023f3f;
  border-radius: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.name-container .name-download-cv::before {
  content: "";
  display: block;
  background: rgba(103, 185, 154, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: 0.4s ease-out;
  z-index: 0;
}

.name-container .name-download-cv:hover::before {
  background: rgba(103, 185, 154, 0.5);
  transform: translateX(0);
}

.name-container .name-download-cv h2 {
  font-size: 18px;
  font-weight: 500;
  padding: 0 24px;
  color: #023f3f;
  z-index: 1;
}

.name-container .name-download-cv .name-download-cv-icon {
  background: #67b99a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  color: white;
  z-index: 2;
}

/* Responsive */
@media (max-width: 768px) {
  .name-container {
    position: relative;
    height: 80vh;
  }

  .name-text h1 {
    font-size: 18px;
  }

  .name-me h1 {
    font-size: 38px;
  }

  .name-description p {
    font-size: 11px;
  }

  br.responsive {
    display: inline;
  }

  br.responsive {
    display: none;
  }

  .name-container .name-download-cv {
    bottom: 50px;
  }

  .name-picture-me {
    width: 70%;
    bottom: 10%;
  }

  .name-container .name-download-cv h2 {
    font-size: 12px;
    padding: 0 12px;
  }

  .name-container .name-download-cv .name-download-cv-icon {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .name-container {
    width: 100%;
  }
} ;
