.interests-container {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 60px 0;
}

.interests-header h2 {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: hsl(180, 94%, 15%);
}

.interests-header h2::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: #023f3f;
}
