.interests-container {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 0;
}

.interests-header h1 {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: hsl(180, 94%, 15%);
}

.interests-header h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: #023f3f;
}

.interests-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interests-content .interests-music,
.interests-content .interests-sport,
.interests-content .interests-book {
  position: relative;
  background: #036666;
  border-radius: 15px;
  flex-basis: 28%;
  height: 420px;
  padding: 20px;
  color: #fff;
}

.interests-content h2 {
  font-size: 24px;
  text-align: center;
  margin: 10px 0 20px;
}

.interests-content h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
}

.interests-content .top {
  font-weight: 400;
  text-align: center;
}

.interests-content p {
  font-size: 16px;
  font-weight: 300;
  padding: 4px 0;
}

.interests-info {
  position: relative;
  height: 290px;
  width: 100%;
  cursor: pointer;
  transition: all 10s linear;
}

.interests-scroll-animation {
  position: relative;
  height: 290px;
  width: 100%;
  overflow-y: hidden;
}

.interests-music .interests-scroll-animation .interests-info:hover {
  transform: translateY(-120%);
}

.interests-sport .interests-scroll-animation .interests-info:hover {
  transform: translateY(-130%);
}

.down-arrow {
  position: absolute;
  left: 50%;
  bottom: -12px;
  color: #fff;
  font-size: 36px;
  transform: translate(-50%, -50%);
  animation: down-arrow-anim 8s linear infinite;
}

@keyframes down-arrow-anim {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .interests-container {
    height: auto;
  }
  .interests-header h1 {
    padding: 10px 0;
    font-size: 28px;
  }

  .interests-content {
    flex-direction: column;
  }

  .interests-content .interests-music,
  .interests-content .interests-sport,
  .interests-content .interests-book {
    margin: 20px 0;
    height: auto;
    padding: 40px;
  }

  .interests-content h2 {
    font-size: 20px;
  }

  .interests-content h3 {
    font-size: 16px;
  }

  .interests-content p {
    font-size: 15px;
    font-weight: 300;
    padding: 4px 0;
  }

  .interests-content ul {
    font-size: 15px;
    font-weight: 300;
  }

  .interests-scroll-animation {
    height: auto;
    overflow: auto;
  }

  .interests-info {
    height: auto;
    transition: none;
  }

  .interests-music .interests-scroll-animation .interests-info:hover {
    transform: none;
  }

  .interests-sport .interests-scroll-animation .interests-info:hover {
    transform: none;
  }

  .down-arrow {
    display: none;
  }

  br.responsive {
    display: inline;
  }

  br.responsive {
    display: none;
  }
}

@media (max-width: 480px) {
  .interests-header h1 {
    font-size: 24px;
  }

  .interests-header h1::after {
    width: 80%;
    bottom: -8px;
  }

  .interests-content .top {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .interests-container {
    padding: 10px 0 0;
  }
  .interests-header h1 {
    font-size: 20px;
  }

  .interests-header h1::after {
    width: 90%;
    bottom: 0;
  }
  .interests-content {
    margin-top: 10px;
  }
}
