.work-container {
  position: relative;
  background: #56ab91;
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
}

.work-container-bg {
  width: 80%;
  margin: 0 auto;
}

.work-header h2 {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: hsl(180, 94%, 15%);
}

.work-header h2::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: #023f3f;
}

.work-content {
  display: flex;
}

.leftside {
  flex: 1;
  padding: 40px 10px 10px 10px;
}

.leftside h2 {
  color: hsl(180, 94%, 5%);
  text-shadow: 2px 2px 2px rgba(1, 25, 25, 0.2);
  padding: 4px 0;
}

.leftside h3 {
  color: hsl(180, 94%, 5%);
  text-shadow: 2px 2px 2px rgba(1, 25, 25, 0.2);
  padding-left: 16px;
}

.leftside h4 {
  color: hsl(180, 94%, 5%);
  text-shadow: 2px 2px 2px rgba(1, 25, 25, 0.2);
  padding: 10px 0 0 16px;
}

.leftside ul {
  padding: 2px 0 10px 37px;
}

.leftside p {
  padding: 10px 16px;
}

.rightside {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.rightside hr {
  background: rgb(255, 255, 255);
  border: 1px solid #fff;
  width: 220px;
}

.rightside .movieHr {
  margin: 30px 0 20px;
}

.rightside .content {
  position: relative;
  height: 240px;
  width: 420px;
  background: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.rightside .content .arrow-left,
.rightside .content .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 32px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #023f3f;
}

.rightside .content .arrow-left {
  left: -35px;
}
.rightside .content .arrow-right {
  right: -35px;
}

.noarrow {
  display: none;
}

.rightside .content .slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 360px;
  background: rebeccapurple;
  display: none;
  box-shadow: 0 0 6px 2px black;
}

.rightside .content .slider img {
  text-align: center;
  width: 100%;
  display: none;
}

.rightside .content .slider img.image-on {
  display: block;
}

.rightside .content .slider.slider-on {
  display: inline;
}

.rightside .content .video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 360px;
  display: none;

  box-shadow: 0 0 6px 2px black;
}

.rightside .content .video.video-on {
  display: block;
}

.rightside .dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.rightside .noactive {
  display: none;
}

.rightside .dots .dot {
  height: 14px;
  width: 14px;
  background: white;
  border-radius: 50%;
  margin: 4px 10px;
  box-shadow: 2px 2px 2px #023f3f;
  cursor: pointer;
}

.rightside .dots .pick {
  height: 20px;
  width: 20px;
  box-shadow: 2px 2px 2px #023f3f;
}

.rightside .content-icon {
  font-size: 36px;
  color: white;
  cursor: pointer;
  text-shadow: 3px 3px 2px #023f3f;
}

.rightside .content-icon i {
  padding: 10px 20px;
}

.rightside .content-icon i.active-icon {
  border-bottom: 2px solid #fff;
}
