.skills-container {
  position: relative;
  width: 100vw;
  background: rgb(197, 255, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.skills-container h1 {
  position: relative;
  padding: 10px 0 0;
  font-weight: 500;
  font-size: 36px;
  color: var(--section-title);
}

.title-line {
  background: var(--green-dark);
  border: none;
  height: 2px;
  width: 60%;
  margin-bottom: 20px;
}

.skills-content {
  position: relative;
  width: 60%;
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-content .skills-row-1,
.skills-content .skills-row-2,
.skills-content .skills-row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-content .skills-row-1 img,
.skills-content .skills-row-3 img {
  padding: 0 50px;
}

.skills-content .skills-row-2 img {
  padding: 60px 25px;
}

/* Responsive */
@media (max-width: 768px) {
  .skills-container h1 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .skills-header h1 {
    font-size: 24px;
  }

  .title-line {
    width: 80%;
  }

  .skills-content .skills-row-1 img,
  .skills-content .skills-row-2 img,
  .skills-content .skills-row-3 img {
    transform: scale(0.8);
  }

  .skills-content .skills-row-1 img,
  .skills-content .skills-row-3 img {
    padding: 0 40px;
  }

  .skills-content .skills-row-2 img {
    padding: 30px 14px;
  }
}

@media (max-width: 320px) {
  .skills-header h1 {
    font-size: 20px;
  }

  .skills-content {
    width: 40%;
  }

  .skills-content .skills-row-1 img,
  .skills-content .skills-row-2 img,
  .skills-content .skills-row-3 img {
    transform: scale(0.8);
  }

  .skills-content .skills-row-1 img,
  .skills-content .skills-row-3 img {
    padding: 0 20px;
  }

  .skills-content .skills-row-2 img {
    padding: 0 0;
  }

  .skills-content .skills-row-2 .skill-row-me {
    transform: scale(0.6);
  }
}
