.skills-container {
  position: relative;
  background: #99e2b4;
  height: 100vh;
  width: 100vw;
  padding: 20px 0;
}

.skills-container-bg {
  margin: 0 auto;
  width: 80%;
}

.skills-header h1 {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: hsl(180, 94%, 15%);
}

.skills-header h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #023f3f;
}

.skills-maps {
  position: relative;
  margin: 25px auto;
  height: 480px;
  width: 960px;
}

.skills-maps-center {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-icon {
  position: absolute;
  transform: translate(-50%, -50%);
}

.skills-icon:nth-child(2) {
  top: 106px;
  left: 346.5px;
}

.skills-icon:nth-child(3) {
  top: 51px;
  left: 480px;
}

.skills-icon:nth-child(4) {
  top: 106px;
  left: 612.5px;
}

.skills-icon:nth-child(5) {
  top: 241px;
  left: 666.5px;
}

.skills-icon:nth-child(6) {
  top: 363px;
  left: 612.5px;
}

.skills-icon:nth-child(7) {
  top: 429px;
  left: 480px;
}

.skills-icon:nth-child(8) {
  top: 363px;
  left: 346.5px;
}

.skills-icon:nth-child(9) {
  top: 241px;
  left: 290.5px;
}

/* Responsive */
@media (max-width: 768px) {
  .skills-container {
    padding: 0;
  }
  .skills-header h1 {
    padding: 0;
    padding-top: 20px;
    font-size: 28px;
  }

  .skills-maps {
    height: 360px;
    width: 620px;
    margin: 20px 0 0;
  }

  .skills-maps-center .me-icon {
    margin-top: 120px;
  }

  .skills-icon:nth-child(2) {
    left: 176.5px;
  }

  .skills-icon:nth-child(3) {
    left: 310px;
  }

  .skills-icon:nth-child(4) {
    left: 442.5px;
  }

  .skills-icon:nth-child(5) {
    left: 496.5px;
  }

  .skills-icon:nth-child(6) {
    left: 442.5px;
  }

  .skills-icon:nth-child(7) {
    left: 310px;
  }

  .skills-icon:nth-child(8) {
    left: 176.5px;
  }

  .skills-icon:nth-child(9) {
    left: 120.5px;
  }
}

@media (max-width: 480px) {
  .skills-container {
    height: 520px;
  }

  .skills-header h1 {
    font-size: 24px;
  }

  .skills-header h1::after {
    width: 80%;
    bottom: -8px;
  }

  .skills-maps {
    height: 290px;
    width: 378px;
  }

  .skills-maps-center .me-icon {
    margin-top: 120px;
  }

  .skills-maps .skills-maps-center img {
    transform: scale(0.8);
  }

  .skills-icon:nth-child(2) {
    top: 55px;
    left: 60px;
  }

  .skills-icon:nth-child(3) {
    top: 0;
    left: 157px;
  }

  .skills-icon:nth-child(4) {
    top: 58px;
    left: 260px;
  }

  .skills-icon:nth-child(5) {
    top: 170px;
    left: 320px;
  }

  .skills-icon:nth-child(6) {
    top: 280px;
    left: 260px;
  }

  .skills-icon:nth-child(7) {
    top: 346px;
    left: 157px;
  }

  .skills-icon:nth-child(8) {
    top: 280px;
    left: 60px;
  }

  .skills-icon:nth-child(9) {
    top: 170px;
    left: 0;
  }
}
