.contact-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.contact-header h1 {
  padding: 10px 0;
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: hsl(180, 94%, 15%);
}

.contact-header h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: #023f3f;
}

.contact-content {
  display: flex;
}

.contact-left {
  flex: 1;
  padding: 100px 0 20px 0;
}

.contact-left-mail,
.contact-left-phone,
.contact-left-city {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
}

.contact-left-mail i {
  font-size: 32px;
  color: hsl(180, 94%, 15%);
}

.contact-left-phone i,
.contact-left-city i {
  font-size: 32px;
  padding: 5px;
  color: hsl(180, 94%, 15%);
}

.contact-left-mail h1,
.contact-left-phone h1,
.contact-left-city h1 {
  color: hsl(180, 94%, 15%);
  font-size: 20px;
  font-weight: 300;
  padding: 30px;
}

.contact-right {
  flex: 1;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  padding: 60px 20px 40px 0;
}

.contact-right form input {
  height: 50px;
  margin: 8px 0;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(2, 74, 74, 0.5);
  outline: none;
}

.contact-right form textarea {
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(2, 74, 74, 0.5);
  outline: none;
}

.contact-right form button {
  height: 50px;
  width: 160px;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: 1px solid rgba(2, 74, 74, 0.5);
  background: rgba(255, 255, 255, 1);
  color: rgba(2, 74, 74, 1);
  cursor: pointer;
  transition: 1s;
}

.contact-right form button:hover {
  background: hsl(180, 94%, 15%);
  color: white;
  transition: 1s;
}

.honeypot {
  display: none;
}
