@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --green-dark: #023f3f;
  --green-mid: #c5eed4;
  --section-title: #024a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #c5eed480;
}

.return-button {
  position: -webkit-sticky;
  position: sticky;
  width: 10%;
  top: 87.5vh;
  right: 20vw;
  margin: 0 0 0 90vw;
  z-index: 1;
}

.return-button i {
  font-size: 52px;
  padding-left: 10px;
  color: hsl(180, 94%, 15%);
  cursor: pointer;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .return-button {
    display: none;
  }
}
