@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: rgba(197, 238, 212, 0.5);
}

.return-button {
  position: -webkit-sticky;
  position: sticky;
  text-align: end;
  top: 87.5vh;
  padding-right: 2.5vw;
  z-index: 1;
}

.return-button i {
  font-size: 52px;
  padding-left: 10px;
  color: hsl(180, 94%, 15%);
  cursor: pointer;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}
