.languages-container {
  background: hsl(142, 56%, 85%);
  position: relative;
  padding: 20px 0 1px;
}

.languages-header h1 {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: hsl(180, 94%, 15%);
}

.languages-header h1::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: #023f3f;
}

.languages-content {
  width: 80%;
  margin: 60px auto;
  display: flex;
  justify-content: space-around;
  color: #023f3f;
}

.languages-left,
.languages-right {
  flex-basis: 360px;
  background: #78c6a3;
  border-radius: 10px;
  text-align: center;
}

.languages-left:hover,
.languages-right:hover {
  box-shadow: 0 0 30px 0px #023f3f;
}

.languages-left img,
.languages-right img {
  padding: 20px 0 0;
}

.languages-left h2,
.languages-right h2 {
  font-size: 28px;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(2, 64, 64, 0.2);
}

.languages-left h3,
.languages-right h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 4px 0 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .languages-header h1 {
    font-size: 28px;
  }

  .languages-content {
    flex-direction: column;
    width: 40%;
    margin: 20px auto 40px;
  }

  .languages-left,
  .languages-right {
    flex-basis: 200px;
    margin: 20px 0;
  }

  .languages-left img,
  .languages-right img {
    padding: 20px 0 0;
  }

  .languages-left h2,
  .languages-right h2 {
    font-size: 24px;
  }

  .languages-left h3,
  .languages-right h3 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .languages-container {
    padding: 20px 0 2px;
  }

  .languages-header h1 {
    font-size: 24px;
  }

  .languages-header h1::after {
    width: 80%;
    bottom: -8px;
  }

  .languages-content {
    flex-direction: column;
    width: 70%;
    margin: 20px auto 40px;
  }
}

@media (max-width: 320px) {
  .languages-container {
    padding: 10px 0 0;
  }

  .languages-header h1 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .languages-header h1::after {
    width: 90%;
    bottom: 0;
  }

  .languages-content {
    margin: -35px auto 20px;
  }
}
