.nav {
  width: 60%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 0 50px;
}

.nav-content li {
  list-style: none;
}

.nav-content li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #023f3f;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-content li:hover::after {
  width: 100%;
}

.nav-content a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: #023f3f;
}
